.kitchen-head {
  .kitchen-head__left_office {
    background-image: url(../images/office1.png);
  }

  .kitchen-head__right_office {
    background-image: url(../images/office9.png);
  }
}

.layout__elem {
  .layout__img1_office {
    background-image: url(../images/office2.png);
  }
  .layout__img2_office {
    background-image: url(../images/office3.png);
  }
  .layout__img3_office {
    background-image: url(../images/office4.png);
  }
  .layout__img4_office {
    background-image: url(../images/office5.png);
  }
}

.kitchen-main .kitchen-facade {
  .kitchen-facade__images_office1 {
    background-image: url(../images/office6.png);
  }
  .kitchen-facade__images_office2 {
    background-image: url(../images/office7.png);
  }
  .kitchen-facade__images_office3 {
    background-image: url(../images/office8.png);
  }
}
